table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #d5d1cf}

th {
  background-color: #3e3b3a;
  color: white;
}